.room{
    height : 100vh;

    
}
.lit{
    background-color: lightgreen;
    color: black;
    padding-top: 50px;
    padding-left: 100px;
}

.dark{
    background-color: yellowgreen;
    color: white;
}